[submodule "Import/glfw"]
	path = Import/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Import/glfw3webgpu"]
	path = Import/glfw3webgpu
	url = https://github.com/eliemichel/glfw3webgpu.git
[submodule "Import/glm"]
	path = Import/glm
	url = https://github.com/g-truc/glm.git
[submodule "Import/tinyobjloader"]
	path = Import/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
